<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Alura Receitas</title>
        <meta charset="utf-8">
    </head>
    <body>
        <h1>Alura Receitas</h1>

        <table>
            <thead>
                <tr>
                    <th>Nome da receita</th>
                    <th>Ingredientes</th>
                    <th>Modo de preparo</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Suco verde</th>
                    <th>Folhas verdes, 1 maçâ, 1 cenoura</th>
                    <th>Bata tudo no liquidificador</th>
                </tr>
            </tbody>
        </table>
    </body>
</html>